@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,900;1,400&display=swap");
.navbar {
  width: 100%;
  z-index: 1;
  background-color: #004E89;
}
.navbar a {
  color: #dfd9d0;
  font-weight: bold;
  font-size: 20px;
}
.navbar a:hover {
  color: #eb5e28;
}
.navbar a.active {
  color: #eb5e28 !important;
}

.grilla {
  display: grid;
  grid-template-areas: "header" "video" "articulo" "servicios" "imagen" "footer";
  grid-template-rows: auto 400px 300px 400px 400px 70px;
  grid-template-columns: 1fr;
  width: 100%;
  justify-content: center;
}
.grilla header {
  grid-area: header;
}
.grilla video {
  grid-area: video;
  width: 100%;
  height: 400px;
}
.grilla section {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: articulo;
  background-color: #004E89;
  height: 300px;
  width: 100%;
}
.grilla section img {
  width: 300px;
  height: 250px;
  padding: 20px;
}
.grilla section h1 {
  font-weight: bolder;
  color: #004E89;
  background-color: #eb5e28;
  font-size: 40px;
  padding: 10px;
  margin: 0px;
  border-radius: 20px;
  display: inline-block;
}
.grilla section p {
  padding: 5px;
  color: #dfd9d0;
  font-size: 33px;
  width: 600px;
  line-height: 40px;
}
.grilla .serviciosInicio {
  grid-area: servicios;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}
.grilla .serviciosInicio .tresServicios {
  width: 320px;
  height: 380px;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.grilla .serviciosInicio .tresServicios img {
  width: 230px;
  align-self: center;
  justify-self: flex-start;
  padding: 30px;
}
.grilla .serviciosInicio .tresServicios h2 {
  font-weight: bold;
  font-size: 24px;
  color: #004E89;
  background-color: #eb5e28;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
.grilla .serviciosInicio .tresServicios p {
  font-size: 20px;
  color: #dfd9d0;
  text-align: center;
  height: 150px;
  width: 300px;
  line-height: 25px;
  align-self: center;
  padding: 0px;
  margin: 0px;
}
.grilla .imagenFinal {
  grid-area: imagen;
  width: 100%;
  height: 400px;
}
.grilla footer {
  grid-area: footer;
}

/* RESPONSIVE TABLET */
@media (min-width: 360px) and (max-width: 768px) {
  .grilla {
    grid-template-rows: auto 300px 300px 300px 300px 70px;
    grid-template-columns: 100%;
  }
  .grilla video {
    height: 300px;
  }
  .grilla section {
    height: 300px;
    padding: 15px;
  }
  .grilla section h1 {
    font-size: 30px;
    padding: 5px 15px;
  }
  .grilla section p {
    font-size: 25px;
    width: 15em;
    line-height: 30px;
  }
  .grilla .serviciosInicio {
    height: 300px;
  }
  .grilla .serviciosInicio .tresServicios {
    width: 250px;
    height: 300px;
  }
  .grilla .serviciosInicio .tresServicios img {
    width: 150px;
  }
  .grilla .serviciosInicio .tresServicios h2 {
    font-size: 20px;
    margin: 0px 0px 5px 0px;
  }
  .grilla .serviciosInicio .tresServicios p {
    font-size: 1px;
    width: 220px;
  }
  .grilla .imagenFinal {
    width: 768px;
    height: 300px;
  }
}
/* RESPONSIVE MOBILE */
@media (max-width: 360px) {
  .grilla {
    width: 360px;
    grid-template-rows: auto 140px 150px 380px 130px 50px;
  }
  .grilla video {
    width: 360px;
    height: 140px;
  }
  .grilla section {
    flex-direction: column;
    width: 360px;
    height: 140px;
  }
  .grilla section img {
    display: none;
  }
  .grilla section h1 {
    font-size: 16px;
    padding: 5px;
  }
  .grilla section p {
    padding: 5px;
    font-size: 15px;
    line-height: 18px;
    width: 300px;
  }
  .grilla .serviciosInicio {
    flex-direction: column;
    width: 360px;
    height: 380px;
  }
  .grilla .serviciosInicio .tresServicios {
    width: 300px;
    height: 120px;
    justify-content: center;
    align-items: center;
  }
  .grilla .serviciosInicio .tresServicios img {
    display: none;
  }
  .grilla .serviciosInicio .tresServicios h2 {
    width: 300px;
    font-size: 15px;
  }
  .grilla .serviciosInicio .tresServicios p {
    font-size: 13px;
    line-height: 13px;
    height: 35px;
    padding-top: 10px;
    width: 300px;
  }
  .grilla .imagenFinal {
    height: 130px;
    width: 360px;
  }
}
.grillaNosotros {
  display: grid;
  grid-template-areas: "nosotros" "diseñadora" "banner";
  grid-template-rows: 580px 300px 300px;
  justify-content: center;
}
.grillaNosotros article {
  grid-area: nosotros;
  height: 580px;
  width: 100%;
  padding: 30px;
  background-color: #004E89;
}
.grillaNosotros article h1 {
  font-size: 60px;
  line-height: 50px;
  width: 400px;
  padding: 20px;
  color: #eb5e28;
  font-weight: bold;
}
.grillaNosotros article h1 span {
  font-size: 95px;
  line-height: 85px;
}
.grillaNosotros article img {
  width: 400px;
  height: 300px;
  padding: 20px;
}
.grillaNosotros article .comunicadoresArticle {
  display: flex;
  justify-content: flex-start;
}
.grillaNosotros article .comunicadoresArticle p {
  width: 560px;
  font-size: 28px;
  color: #dfd9d0;
  padding: 20px;
  line-height: 38px;
}
.grillaNosotros section {
  grid-area: diseñadora;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  background-color: #dfd9d0;
  width: 900px;
  margin: 30px;
}
.grillaNosotros section .daniela {
  display: inline-block;
  text-align: right;
  padding: 15px;
  color: #004E89;
  font-size: 30px;
  line-height: 40px;
}
.grillaNosotros section .daniela h2 {
  font-weight: bold;
}
.grillaNosotros section .daniela p {
  color: #2178bb;
  width: 600px;
}
.grillaNosotros section img {
  width: 200px;
  padding: 15px;
  margin: 15px;
}
.grillaNosotros .bannerNosotros {
  grid-area: banner;
  width: 100%;
  height: 300px;
}

/*RESPONSIVE TABLET*/
@media (min-width: 360px) and (max-width: 768px) {
  .grillaNosotros {
    grid-template-rows: 460px 300px 300px;
  }
  .grillaNosotros article {
    height: 460px;
  }
  .grillaNosotros article h1 {
    font-size: 50px;
    line-height: 45px;
  }
  .grillaNosotros article h1 span {
    font-size: 60px;
    line-height: 60px;
  }
  .grillaNosotros article img {
    width: 300px;
    height: 200px;
    padding: 0PX 20px;
  }
  .grillaNosotros article .comunicadoresArticle p {
    width: 400px;
    font-size: 20px;
    padding: 0px 20px;
    line-height: 30px;
  }
  .grillaNosotros section {
    width: 600px;
    padding: 10px;
  }
  .grillaNosotros section .daniela {
    color: #004E89;
    font-size: 25px;
    line-height: 30px;
  }
  .grillaNosotros section .daniela p {
    width: 360px;
  }
  .grillaNosotros section img {
    padding: 10px;
  }
  .grillaNosotros .bannerNosotros {
    grid-area: banner;
    width: 100%;
    height: 300px;
  }
}
/*RESPONSIVE MOBILE*/
@media (max-width: 360px) {
  .grillaNosotros {
    grid-template-rows: 700px 500px 100px;
    justify-content: space-around;
  }
  .grillaNosotros article {
    height: 700px;
    justify-self: center;
  }
  .grillaNosotros article h1 {
    font-size: 38px;
    line-height: 34px;
    width: 200px;
    padding: 0px 20px 10px 20px;
    text-align: left;
  }
  .grillaNosotros article h1 span {
    font-size: 60px;
    line-height: 60px;
    text-align: center;
  }
  .grillaNosotros article .comunicadoresArticle {
    flex-direction: column;
  }
  .grillaNosotros article .comunicadoresArticle img {
    width: 300px;
    height: 200px;
  }
  .grillaNosotros article .comunicadoresArticle p {
    width: 290px;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    align-self: center;
    padding-top: 10px;
  }
  .grillaNosotros section {
    flex-direction: column-reverse;
    width: 280px;
  }
  .grillaNosotros section .daniela {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
  }
  .grillaNosotros section .daniela p {
    width: 250px;
  }
  .grillaNosotros section img {
    margin: 0px;
  }
  .grillaNosotros .bannerNosotros {
    height: 100px;
    width: 360px;
  }
}
.titulo1servicios {
  padding: 15px 30px;
  background-color: #eb5e28;
  color: #004E89;
  font-weight: bold;
}

.grillaServicios {
  display: grid;
  grid-template-areas: "diseño" "redes" "web";
  grid-template-rows: 300px 300px 320px;
  grid-template-columns: 100%;
  row-gap: 20px;
  margin: 30px;
  background-color: #004E89;
}
.grillaServicios .diseñoGraf {
  grid-area: diseño;
}
.grillaServicios .redesSociales {
  grid-area: redes;
}
.grillaServicios .desarrolloWeb {
  grid-area: web;
}
.grillaServicios h2 {
  font-size: 30px;
  color: #dfd9d0;
  background-color: #004E89;
  padding-left: 30px;
  padding-top: 10px;
  font-weight: bold;
}
.grillaServicios h3 {
  background-color: #eb5e28;
  color: #004E89;
  padding: 7px;
  margin-bottom: 20px;
}
.grillaServicios .clasificacionServicios {
  height: 300px;
  display: flex;
  justify-content: center;
}
.grillaServicios .clasificacionServicios .cadaServicio {
  padding: 20px;
  text-align: center;
}
.grillaServicios .clasificacionServicios .cadaServicio .contenidoServicio {
  display: flex;
  justify-content: center;
  width: 430px;
}
.grillaServicios .clasificacionServicios .cadaServicio .contenidoServicio img {
  width: 120px;
  height: 120px;
}
.grillaServicios .clasificacionServicios .cadaServicio .contenidoServicio p {
  color: #dfd9d0;
  font-size: 20px;
  width: 300px;
  padding: 0px 20px;
  text-align: left;
}

/*REPSONSIVE TABLET*/
@media (min-width: 360px) and (max-width: 768px) {
  .grillaServicios {
    grid-template-rows: 260px 260px 300px;
  }
  .grillaServicios h3 {
    font-size: 20px;
  }
  .grillaServicios .clasificacionServicios .cadaServicio .contenidoServicio {
    width: 300px;
  }
  .grillaServicios .clasificacionServicios .cadaServicio .contenidoServicio img {
    width: 110px;
    height: 110px;
  }
  .grillaServicios .clasificacionServicios .cadaServicio .contenidoServicio p {
    font-size: 15px;
    line-height: 18px;
    width: 200px;
  }
}
/*RESPONSIVE MOBILE*/
@media (max-width: 360px) {
  .titulo1servicios {
    width: 360 px;
  }
  .grillaServicios {
    grid-template-rows: 600px 600px 330px;
  }
  .grillaServicios h2 {
    font-size: 25px;
    padding-left: 0px;
    padding-top: 10px;
    text-align: center;
    height: 30px;
  }
  .grillaServicios h3 {
    padding: 5px;
    font-size: 20px;
  }
  .grillaServicios .clasificacionServicios {
    height: 570px;
    flex-direction: column;
  }
  .grillaServicios .clasificacionServicios .cadaServicio {
    height: 285px;
  }
  .grillaServicios .clasificacionServicios .cadaServicio .borrar-texto {
    display: none;
  }
  .grillaServicios .clasificacionServicios .cadaServicio .contenidoServicio {
    width: 250px;
    flex-direction: column;
    align-items: center;
  }
  .grillaServicios .clasificacionServicios .cadaServicio .contenidoServicio img {
    width: 140px;
    height: 140px;
  }
  .grillaServicios .clasificacionServicios .cadaServicio .contenidoServicio p {
    width: 280px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    padding-top: 10px;
  }
  .grillaServicios .clasificacionServicios.web {
    height: 270px;
  }
}
.container {
  background-color: #004E89;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.container p {
  font-size: 20px;
  color: #dfd9d0;
  padding: 10px;
  border-radius: 5px;
  line-height: 20px;
  background-color: #eb5e28;
  text-align: center;
}

.contactanos {
  display: grid;
  grid-template-areas: "formulario contacto";
  grid-template-columns: 500px 300px;
  grid-template-rows: 600px;
  width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  margin: 20px 0px;
}
.contactanos form {
  grid-area: formulario;
  text-align: center;
  width: 500px;
  height: 600px;
  background-color: #004E89;
  padding: 20px;
}
.contactanos form .datosTodos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contactanos form label {
  font-size: 25px;
  color: #dfd9d0;
}
.contactanos form input, .contactanos form textarea {
  width: 400px;
  height: 30px;
  border-color: #eb5e28;
  border-width: 4px;
  border-radius: 10px;
  margin-top: 5px;
}
.contactanos form input:focus, .contactanos form textarea:focus {
  border-color: #2178bb;
}
.contactanos form textarea {
  height: 280px;
}
.contactanos form button {
  background-color: #dfd9d0;
  text-align: center;
  color: #004E89;
  font-size: 25px;
  width: 100px;
  height: 50px;
  margin: 20px;
}
.contactanos form button:hover {
  color: #eb5e28;
}
.contactanos .contacto {
  grid-area: contacto;
  width: 300px;
  height: 600px;
  background-color: #eb5e28;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contactanos .contacto img {
  width: 200px;
}
.contactanos .contacto h2 {
  font-size: 28px;
  color: #004E89;
  font-weight: bolder;
  padding: 10px;
}
.contactanos .contacto .redesContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-align: center;
  color: #dfd9d0;
  font-size: 25px;
}
.contactanos .contacto .redesContacto img {
  width: 30px;
  height: 30px;
  background-color: #004E89;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}
.contactanos .contacto .redesContacto p {
  margin-top: 13px;
}

/*RESPONSIVE TABLET*/
@media (min-width: 360px) and (max-width: 768px) {
  .contactanos {
    grid-template-columns: 350px 200px;
    grid-template-rows: 450px;
    width: 100%;
  }
  .contactanos form {
    width: 350px;
    height: 450px;
  }
  .contactanos form label {
    font-size: 20px;
    padding: 5px;
  }
  .contactanos form input, .contactanos form textarea {
    width: 300px;
  }
  .contactanos form textarea {
    width: 300px;
    height: 160px;
  }
  .contactanos form button {
    font-size: 20px;
    width: 100px;
    height: 35px;
    margin: 10px;
  }
  .contactanos form button:hover {
    color: #eb5e28;
  }
  .contactanos .contacto {
    width: 200px;
    height: 450px;
  }
  .contactanos .contacto img {
    width: 130px;
  }
  .contactanos .contacto h2 {
    font-size: 20px;
  }
  .contactanos .contacto .redesContacto {
    font-size: 20px;
  }
  .contactanos .contacto .redesContacto img {
    width: 30px;
    height: 30px;
  }
}
/*RESPONSIVE MOBILE*/
@media (max-width: 360px) {
  .contactanos {
    grid-template-areas: "formulario" "contacto";
    grid-template-columns: 360px;
    grid-template-rows: 370px 300px;
    row-gap: 10px;
    align-items: flex-start;
  }
  .contactanos form {
    width: 250px;
    height: 370px;
    justify-self: center;
  }
  .contactanos form label {
    font-size: 15px;
  }
  .contactanos form input, .contactanos form textarea {
    width: 200px;
    margin-top: 0px;
  }
  .contactanos form textarea {
    width: 200px;
    height: 115px;
    margin-top: 0px;
  }
  .contactanos form button {
    font-size: 15px;
    width: 70px;
    height: 40px;
    margin: 10px;
  }
  .contactanos .contacto {
    width: 250px;
    height: 300px;
    justify-self: center;
  }
  .contactanos .contacto img {
    width: 130px;
  }
  .contactanos .contacto h2 {
    font-size: 25px;
  }
  .contactanos .contacto .redesContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 20px;
    margin: 5px;
  }
  .contactanos .contacto .redesContacto img {
    width: 30px;
  }
  .contactanos .contacto .redesContacto p {
    margin-top: 13px;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #004E89;
  width: 100%;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
footer ul li {
  font-size: 20px;
  list-style-type: none;
  padding: 0px 20px;
}
footer ul li a {
  text-decoration: none;
  color: #dfd9d0;
}
footer ul li a:hover {
  color: #eb5e28;
}

@media (max-width: 360px) {
  footer {
    height: 50px;
  }
  footer ul li {
    font-size: 15px;
    padding: 0px 10px;
  }
}
html {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}
html body {
  background-color: #2178bb;
}

/*# sourceMappingURL=main.css.map */
