@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,900;1,400&display=swap');

@import './variables/colores';
@import './variables/mixin';
@import './variables/animacion';
@import './componentes/navbar';
@import './secciones/index';
@import './secciones/nosotros';
@import './secciones/servicios';
@import './secciones/portfolio';
@import './secciones/contacto';
@import './componentes/footer';

html {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;

    body {
        background-color: $azulClaro;
    }
}