/* GENERALES HTML */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    background-color:#004E89;
}

/* NAV BOOSTRAP */
.navbar {
    z-index: 1;
    background-color: #004E89;
}
.nav-link {
    color:#dfd9d0;
    font-weight: bold;
}
.active {
    color:#eb5e28 !important;
}
.nav-link:hover {
    color:#eb5e28;
}

/* INICIO */
   /* GRILLA */
   .grilla{
    display: grid;
    grid-template-areas: 
    "header"
    "video"
    "articulo"
    "servicios"
    "imagen"
    "footer";
    grid-template-rows: auto 400px 300px 400px 400px 70px;
    grid-template-columns: 1fr;
    }


    /* GRID AREAS Y PROPIEDADES*/

    header{
        grid-area: header;
    }
    .video{
        grid-area: video;
        width: 1024px;
        height: 400px;
    }
    .articuloPrincipal{
        grid-area: articulo;
        display:flex;
        height: 300px;
        width: 1024px;
    }
    .serviciosInicio{
        grid-area: servicios;
        display:flex;
        height: 400px;
        width: 1024px;
    }
    .imagenFinal{
        grid-area: imagen;
        width: 1024px%;
        height: 400px;
    }
    footer{
        grid-area: footer;
        height: 70px;
        background-color: #004E89;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* FOOTER */
    
    .footerRedes{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
    .footerRedes li{
        font-size: 20px;
        list-style-type: none;
        padding: 0px 20px;
    }

    .footerRedes a {
        text-decoration: none;
        color: #EFEFD0;
    }

   /* MAIN */
   .articuloPrincipal{
    background-color: #004E89;
    justify-content: center;
    align-items: center;
   }

   .imgArticuloPrincipal{
    width: 300px;
    height: 250px;
    padding: 20px;
   }
   .tituloArtPrincipal{
    font-weight: bolder;
    color:#004E89;
    background-color:#eb5e28;
    font-size: 40px;
    padding: 10px;
    margin: 0px;
    border-radius: 20px;
    display:inline-block;
   }
   .parrafoArtPrincipal{
    padding: 5px;
    color:#dfd9d0;
    font-size: 33px;
    width: 600px;
    line-height: 40px;
    }

    /* SERVICIOS INICIO */
 .serviciosInicio {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.tresServicios {
    width: 280px;
    height: 380px;
    padding:0px 20px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.serviciosInicio h2 {
    font-weight: bold;
    font-size: 28px;
    color:#004E89;
    background-color: #eb5e28;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.serviciosInicio p {
    font-size: 20px;
    color:#dfd9d0;
    text-align: center;
    height: 100px;
    width: 280px;
    line-height:25px;
    align-self: center;
}
.iconoServicio{
    width: 230px;
    align-self: center;
    justify-self: flex-start;
    padding: 30px;
}


/* NOSOTROS */
.grillaNosotros {
    display:grid;
    grid-template-areas: 
    "nosotros"
    "diseñadora"
    "banner";
    grid-template-rows: 580px 300px 300px;
    justify-content: center;
}
.logoNosotros{
    margin-bottom: 15px;
}
    .nosotros {
        grid-area:nosotros;
        height: 580px;
        width: 100%;
        padding: 30px;
        background-color:#004E89;

    }
    body{
        background-color: #2178bb;
    }
    .titulo1nosotros {
        font-size: 60px;
        line-height: 50px;
        width: 400px;
        padding: 20px;
        color:#eb5e28;
        font-weight: bold;

    }
    .visuales {
        font-size: 95px;
        line-height: 80px;
    }
    .imagenNosotros1 {
        width: 400px;
        height: 300px;
        padding: 20px;
    }
    .comunicadoresArticle {
        display: flex;
        justify-content: flex-start;
    }
     .parrafoNosotros {
        width: 560px;
        font-size: 28px;
        color:#dfd9d0;
        padding: 20px;
    }

     .diseñadoraGrafica {
        grid-area: diseñadora;
        display: flex;
        justify-content: center;
        align-items:center;
        justify-self:center;
        background-color:#dfd9d0;
        width: 900px;
        margin:30px;
    }
    .daniela {
        display: inline-block;
        text-align: right;
        padding:15px; 
        color:#004E89; 
        font-size: 30px;
        line-height: 40px;
    }
    .daniela p {
        color:#2178bb;
        width: 600px;
    }
    .daniela h2{
        
        font-weight: bold; 
    }
 
    .fotoPerfil {
        width: 200px;
        padding: 15px;
        margin: 15px;
    }
    .bannerNosotros {
        grid-area:banner;
        width: 100%;
        height: 300px;
    }
    
/* SERVICIOS */
    /* grilla y grid areas */
    .grillaServicios{
        display: grid;
        grid-template-areas: 
        "diseño"
        "redes"
        "web";
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 100%;
        row-gap: 20px;
    }
    .diseñoGraf{
        grid-area:diseño;
    }
    .redesSociales{
        grid-area:redes;
    }
    .desarrolloWeb{
        grid-area: web;
    }
    .servicios {
        margin:30px;
        background-color: #004E89;
    }
    .clasificacionServicios {
      height: 300px;
      display:flex;
      justify-content: center;
    }
    .titulo1servicios {
        padding: 15px 30px;
        background-color:#eb5e28 ;
        color:#004E89;
        font-weight: bold;
    }
    .titulo2servicios {
        font-size: 30px;
        color:#dfd9d0;
        background-color: #004E89;
        padding-left: 30px;
        padding-top:10px;
        font-weight: bold;
    }
    .titulo3servicios {
        background-color:#eb5e28;
        color: #004E89;
        padding:7px;
        margin-bottom: 20px;
    }
    .imgServicios {
        width: 120px;
        height: 120px; 
    }
    .cadaServicio {
        padding:20px;
        text-align: center;
    }
    .contenidoServicio {
        display:flex;
        justify-content: center;
        width: 430px;
    }
    .servicios p {
        color:#dfd9d0;
        font-size: 20px;
        width: 300px;
        padding: 0px 20px;
        text-align: left;
    }

/* CONTACTO */
    .contactanos {
        display:grid;
        grid-template-areas: 
        "formulario contacto";
        grid-template-columns: 500px 300px;
        grid-template-rows: 650px;
        width: 100%;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        margin: 20px 0px;
    }

        form {
            grid-area: formulario;
        }
        .contacto {
            grid-area: contacto;
        }

    /* formulario */
        form {
            text-align: center;
            width: 500px;
            height: 650px;
            background-color: #004E89;
        }
    
        .datosTodos {
            margin: 20px;
        }
        .contacto {
            width: 300px;
            
        }
        .datos {
            font-size: 25px;
            color:#dfd9d0;
        }
        .input {
            width: 400px;
            height: 30px;
            border-color: #eb5e28;
            border-width: 4px;
            border-radius: 10px;
            margin-top: 5px;
        }
        .input:focus{
            border-color:#2178bb;
        }
        .mensaje {
            border-color: #eb5e28;
            border-width: 4px;
            border-radius: 10px;
            width: 400px;
            height: 290px; 
            margin-top: 5px;
        }
        button {
            background-color: #dfd9d0;
            text-align: center;
            color:#004E89;
            font-size: 25px;
            width: 100px;
            height: 50px;
            margin: 20px;
        }

        button:hover {
            color:#eb5e28;
        }

    /* contactanos */
        .contacto {
            width: 300px;
            height: 650px;
            background-color:#eb5e28;
            text-align: center;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .tituloContactanos {
            font-size: 28px;
            color:#004E89;
            font-weight: bolder;
            padding:10px;
        }
        .fotoWsp {
            width: 200px;
        }
        .iconosRedes {
            width: 30px;
            height: 30px;
            background-color:#004E89;
            padding: 5px;
            margin: 5px;
            border-radius: 10px;
        }
        
        .redesContacto {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color:#dfd9d0;
            font-size: 25px;
        }
        .redesContacto p{
            margin-top:13px;
        }

        /* RESPONSIVE TABLET */
        @media (min-width: 360px) and (max-width: 768px) {

            /* MEDIA QUERIES INICIO TABLET */
            .grilla {
                grid-template-rows: 80px 300px 300px 300px 300px 70px;
                grid-template-columns: 100%;
            }
           .video {
            height: 300px;
           }
         
           .imgArticuloPrincipal{
            height: 250px;
            padding: 15px;
           }
           .tituloArtPrincipal{
            font-size: 30px;
            padding: 5px 15px;
            border-radius: 20px;
           }
           .parrafoArtPrincipal{
            font-size: 25px;
            width: 15em;
            }

            .serviciosInicio {
                height: 300px;
            }
            .tresServicios {
                width: 250px;
            }
            .serviciosInicio h2 {
                font-size: 23px;
                margin: 0px 0px 5px 0px;
            }
            .serviciosInicio p {
                font-size: 18px;
                width: 220px;
                line-height: 25px;
            }
            .iconoServicio {
                width: 140px;
                align-self: center;
                justify-self: flex-start;
            }
            .imagenFinal{
                width: 768px;
                height: 300px;
            }
             /* MEDIA QUERIES NOSOTROS TABLET */
                .grillaNosotros{
                    grid-template-rows: 500px 300px 300px;
                }
                .nosotros {
                    height: 500px;
                }

                .titulo1nosotros {
                    font-size: 40px;
                    line-height: 30px;
            
                }
                .visuales {
                    font-size: 65px;
                    line-height: 60px;
                }
                .imagenNosotros1 {
                    width: 300px;
                    height: 200px;
                    padding: 0px 20px;
                }
                
                 .parrafoNosotros {
                    width: 400px;
                    font-size: 25px;
                    line-height: 30px;
                    color:#dfd9d0;
                    padding: 0px 20px;
                }
            
                 .diseñadoraGrafica {
                    width: 600px;
                    margin:30px;
                    padding:10px;
                }
                .daniela {
                    padding:15px; 
                    font-size: 25px;
                    line-height: 30px;
                }
                .daniela p {
                    width: 360px;
                }

                .fotoPerfil {
                    width: 200px;
                    padding: 10px;
                }
        

            /* MEDIA QUERIES SERVICIOS TABLET */
            .grillaServicios{
                grid-template-rows: 300px 300px 300px;
                grid-template-columns: 100%;
                row-gap: 0px;
            }
            .servicios {
                margin:50px;
            }
            .clasificacionServicios {
            height: 300px;
            display:flex;
            justify-content: center;
            align-content: space-around;
            }
        
            .imgServicios {
                width: 100px;
                height: 100px;   
            }

            .contenidoServicio {
                width: 300px;
            }
            .servicios p {
                font-size: 14px;
                width: 300px;
                line-height: 18px;
            }
            .titulo1servicios {
                padding-left: 50px;
            }
            
            /* MEDIA QUERIES CONTACTO TABLET */
            

        .contactanos {
            grid-template-columns: 350px 250px;
            grid-template-rows: 450px;
        
        }

        /* formulario */
            form {
                width: 350px;
                height: 450px;
            }
        
            .contacto {
                width: 250px;
                
            }
            .datos {
                font-size: 20px;
            }
            .input {
                width: 300px;
                height: 25px;
                margin-top: 3px;
            }
            .mensaje {
                width: 300px;
                height: 150px; 
                margin-top: 3px;
            }
            button {
                font-size: 22px;
                width: 100px;
                height: 45px;
                margin: 10px;
            }

        /* contactanos */
            .contacto {
                width: 250px;
                height: 450px;
            }
            .tituloContactanos {
                font-size: 25px;
            }
            .iconosRedes {
                width: 30px;
                height: 30px;
            }
            
            .redesContacto {
                font-size: 25px;
            }
                
        }

        /* RESPONSIVE MOBLILE */
        @media (max-width: 360px){

        /* MEDIA QUERIES INICIO */
            .grilla {
                width: 360px;
                grid-template-rows: auto 140px 150px 380px 130px 50px;
            }
           .video {
            width: 360px;
            height: 140px;
           }
         
            .imgArticuloPrincipal{
                display:none;
               }
            .tituloArtPrincipal{
                font-size: 16px;
                padding: 5px;
                margin: 0px;
                border-radius: 20px;
                display:inline-block;
               }
            .parrafoArtPrincipal{
                padding: 5px;
                font-size: 15px;
                width: 300px;
                line-height: 18px;
                }
            .articuloPrincipal {
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 360px;
                height: 140px;
            }

            .serviciosInicio {
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 360px;
                height: 380px;
            }
            .tresServicios {
                width: 300px;
                height: 120px;
                justify-content: center;
                align-items:center;   
            }
            .serviciosInicio h2 {
                width: 300px;
                font-size: 15px;
                border-radius: 10px;
                margin: 5px;
            }
            .serviciosInicio p {
                font-size: 13px;
                line-height: 13px;
                height: 35px;
                width: 300px;
                padding: 0px;
            }
            .serviciosInicio img {
                display:none;
            }

            .imagenFinal{
                width: 100%;
                height: 130px;
            }
            footer{
                height: 50px;
                width: 100%;
            }
            .footerRedes li{
                font-size: 15px;
                list-style-type: none;
                padding: 0px 10px;
                text-align: center;
            }
            .footerRedes {
               padding:0px;
               margin:0px;
            }
            
            /* MEDIA QUERIES NOSOTROS MOBILE */
            .grillaNosotros {
                grid-template-rows: 700px 500px 100px;
                justify-content: space-around;
            }
       
                .nosotros {
                    grid-area:nosotros;
                    height: 700px;
                    width: 100%;
                    padding: 30px;
                    justify-self:center;
            
                }
               
                .titulo1nosotros {
                    font-size: 40px;
                    line-height: 40px;
                    width: 200px;
                    padding: 0px 20px;
                    text-align:left;
                }
                .visuales {
                    font-size: 60px;
                    line-height: 65px;
                    text-align:center;
                }
                .imagenNosotros1 {
                    width: 300px;
                    height: 200px;
                }
                .comunicadoresArticle {
                    display: flex;
                    flex-direction:column;
                    justify-content: flex-start;
                }
                 .parrafoNosotros {
                    width: 290px;
                    font-size: 20px;
                    line-height: 25px;
                    padding: 20px;
                    text-align: center;
                    align-self: center;
                }
            
                 .diseñadoraGrafica {
                    flex-direction: column-reverse;
                    width: 280px;
                    margin:30px;
                }
                .daniela {
                    text-align: center;
                    font-size: 20px;
                    line-height: 30px;
                }
                .daniela p {
                    width: 250px;
                }
                .fotoPerfil {
                    width: 200px;
                    padding: 15px;
                    margin: 0px;
                }
                .bannerNosotros {
                    grid-area:banner;
                    width: 100%;
                    height: 100px;
                }
            /* MEDIA QUERIES SERVICIOS MOBILE*/
            .grillaServicios{
                display: grid;
                grid-template-areas: 
                "diseño"
                "redes"
                "web";
                grid-template-rows: 650px 650px 370px;
                grid-template-columns: 100%;
                row-gap: 10px;
            }
            .servicios {
                margin:30px;
            }
            .clasificacionServicios{
                display:flex;
                flex-direction: column;
                height: 600px;
                align-content: space-around;
                justify-content: flex-start;
                margin: 0px;
                padding:0px;
            }
            .cadaServicio{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 300px;
            }
            .contenidoServicio{
                display: flex;
                flex-direction: column;
            }
            .titulo1servicios {
                font-size: 25px;
            }
            .titulo2servicios{
                text-align: center;
                padding: 10px 0px;
            }
            .titulo3servicios{
                width: 220px;
            }
            .imgServicios {
                width: 150px;
                height: 150px;
                align-self: center;
            }
            .cadaServicio p{
                width: 250px;
                text-align: center;
                padding: 10px;
                align-self:center;
            }
            .web {
                height: 350px;
            }
            .borrar-texto{
                display:none;
            }

        /* MEDIA QUERIES CONTACTO MOBILE*/

        .contactanos {
            grid-template-areas:
            "formulario"
            "contacto";
            grid-template-columns: 360px;
            grid-template-rows: 370px 300px;
            justify-content: center;
            row-gap: 10px;
            align-items: flex-start;
        
        }

        /* formulario */
         
            form {
                width: 250px;
                height: 370px;
                justify-self: center;
            }
        
            .datos {
                font-size: 15px;
            }
            .input {
                width: 200px;
                height: 30px;
                margin-top: 0px;
            }
            .mensaje {
                width: 200px;
                height: 100px; 
                margin-top: 0px;
            }
            button {
                font-size: 15px;
                width: 70px;
                height: 40px;
                margin: 10px;
            }

        /* contactanos */
            .contacto {
                width: 250px;
                height: 300px;
                justify-self: center;
            }
            .tituloContactanos {
                font-size: 25px;
            }
            .iconosRedes {
                width: 25px;
                height: 25px;
            }
            
            .redesContacto {
                font-size: 20px;
                height: 30px;
            }
            .fotoWsp {
                width: 130px;
            }
                


            
        }