.contactanos {
    display:grid;
    grid-template-areas: 
    "formulario contacto";
    grid-template-columns: 500px 300px;
    grid-template-rows: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin: 20px 0px;

    form {
        grid-area: formulario;
        text-align: center;
        width: 500px;
        height: 600px;
        background-color: $azulOscuro;
        padding: 20px;

        .datosTodos {
           @include flexCenter;
           flex-direction: column;
        }

        label {
            font-size: 25px;
            color:$crema;
        }

        input {
            width: 400px;
            height: 30px;
            border-color: $naranja;
            border-width: 4px;
            border-radius: 10px;
            margin-top: 5px;

            &:focus {
                border-color: $azulClaro;
            }
        }

        textarea {
            @extend input;
            height: 280px;
        }
        
        button {
            background-color: $crema;
            text-align: center;
            color:$azulOscuro;
            font-size: 25px;
            width: 100px;
            height: 50px;
            margin: 20px;

            &:hover {
                color:$naranja;
            }
        }
    }
    .contacto {
        grid-area: contacto;
        width: 300px;
        height: 600px;
        background-color: $naranja;
        text-align: center;
        @include flexCenter;
        flex-direction: column;

        img {
            width: 200px;
        }
        h2 {
            font-size: 28px;
            color:$azulOscuro;
            font-weight: bolder;
            padding:10px; 
        }

        .redesContacto {
           @include flexCenter;
            height: 40px;
            text-align: center;
            color:$crema;
            font-size: 25px;

            img {
                width: 30px;
                height: 30px;
                background-color:$azulOscuro;
                padding: 5px;
                margin: 5px;
                border-radius: 10px;
            }

            p {
                margin-top:13px; 
            }

        }
    }
}


/*RESPONSIVE TABLET*/
@media(min-width: 360px) and (max-width: 768px) {
    .contactanos {
        grid-template-columns: 350px 200px;
        grid-template-rows: 450px;
        width: 100%;
    
        form {
            width: 350px;
            height: 450px;
    
            label {
                font-size: 20px;
                padding:5px;
            }
    
            input {
                width: 300px;
            }
    
            textarea {
                width: 300px;
                height: 160px;
            }
            
            button {
                font-size: 20px;
                width: 100px;
                height: 35px;
                margin: 10px;
    
                &:hover {
                    color:$naranja;
                }
            }
        }
        .contacto {
            width: 200px;
            height: 450px;
    
            img {
                width: 130px;
            }
            h2 {
                font-size: 20px;
            }
    
            .redesContacto {
                font-size: 20px;
    
                img {
                    width: 30px;
                    height: 30px;
                }
    
            }
        }
    }
}

/*RESPONSIVE MOBILE*/
@media (max-width: 360px){
    .contactanos {
        grid-template-areas:
        "formulario"
        "contacto";
        grid-template-columns: 360px;
        grid-template-rows: 370px 300px;
        row-gap: 10px;
        align-items: flex-start;

        form {
            width: 250px;
            height: 370px;
            justify-self: center;

            label {
                font-size: 15px;
            }

            input {
                width: 200px;
                margin-top: 0px;
            }

            textarea {
                width: 200px;
                height: 115px; 
                margin-top: 0px;
            }
            
            button {
                font-size: 15px;
                width: 70px;
                height: 40px;
                margin: 10px;
                }
        }
        
        .contacto {
            width: 250px;
            height: 300px;
            justify-self: center;

            img {
                width: 130px;
            }
            h2 {
                font-size: 25px;
            }

            .redesContacto {
            @include flexCenter;
                height: 30px;
                font-size: 20px;
                margin:5px;

                img {
                    width: 30px;
                }

                p {
                    margin-top:13px; 
                }

            }
        }
    }
}

   