.titulo1servicios {
    padding: 15px 30px;
    background-color: $naranja;
    color:$azulOscuro;
    font-weight: bold;
}

.grillaServicios{
    display: grid;
    grid-template-areas: 
    "diseño"
    "redes"
    "web";
    grid-template-rows: 300px 300px 320px;
    grid-template-columns: 100%;
    row-gap: 20px;
    margin: 30px;
    background-color: $azulOscuro;

    .diseñoGraf{
        grid-area:diseño;
    }
    .redesSociales{
        grid-area:redes;
    }
    .desarrolloWeb{
        grid-area: web;
    }

    h2 {
        font-size: 30px;
        color:$crema;
        background-color: $azulOscuro;
        padding-left: 30px;
        padding-top:10px;
        font-weight: bold;
    }

    h3 {
        background-color: $naranja;
        color: $azulOscuro;
        padding:7px;
        margin-bottom: 20px;
    }

    .clasificacionServicios {
        height: 300px;
        display:flex;
        justify-content: center;

        .cadaServicio {
            padding:20px;
            text-align: center;

            .contenidoServicio {
                display:flex;
                justify-content: center;
                width: 430px;

                img {
                    width: 120px;
                    height: 120px;    
                }

                p {
                    color: $crema;
                    font-size: 20px;
                    width: 300px;
                    padding: 0px 20px;
                    text-align: left;
                }
            }
        }
    }

}


/*REPSONSIVE TABLET*/
@media (min-width: 360px) and (max-width: 768px) {

    .grillaServicios {
        grid-template-rows: 260px 260px 300px;

        h3 {
            font-size: 20px;
        }

        .clasificacionServicios {

            .cadaServicio {

                .contenidoServicio {
                    width: 300px;

                    img {
                        width: 110px;
                        height: 110px;    
                    }

                    p {
                        font-size: 15px;
                        line-height: 18px;
                        width: 200px;
                    }
                }
            }
       }
    }   

}

/*RESPONSIVE MOBILE*/
@media (max-width: 360px){

    .titulo1servicios {
    width: 360 px;
    }

    .grillaServicios{
        grid-template-rows: 600px 600px 330px;

        h2 {
            font-size: 25px;
            padding-left: 0px;
            padding-top:10px;
            text-align: center;
            height:30px;
        }

        h3 {
            padding:5px;
            font-size: 20px;
        }

        .clasificacionServicios {
            height: 570px;
            flex-direction: column;

            .cadaServicio {
                height: 285px;

                .borrar-texto {
                    display: none;
                }

                .contenidoServicio {
                    width: 250px;
                    flex-direction: column;
                    align-items: center;

                    img {
                        width: 140px;
                        height: 140px;    
                    }

                    p {
                        width: 280px;
                        text-align: center;
                        line-height: 20px;
                        font-size: 15px;
                        padding-top: 10px;
                        
                    }
                }
            }
        }
        .clasificacionServicios.web {
            height: 270px;
        }
        

    }
   
    
}
